*{
    padding: 0;
    outline: 0;
    margin: 0;
    box-sizing: border-box;
}
.col-md-12{
    padding: 0px !important;
}

[data-anime="left"]  {
    background-color: #ccc;
}

[data-anime="right"] {
    background-color: #000;
    color: #fff;
}

p.left {
    margin-left: -10px;
    opacity: 0;
}

/* Atribuindo propriedades*/
[data-anime]{
    opacity: 0;
    transition: .3s;
}
/* Atribuindo a esquerda os efeitos */
[data-anime="left"]{
    transform: translate3d(-50px,0,0);
}
/* Atribuindo a direita os efeitos*/
[data-anime="right"]{
    transform: translate3d( 50px,0,0);
}

/* Atribuindo a classe  animate opacidade 1. Logo tenhamos */
[data-anime].animate {
    opacity: 1;
    transform: translate3d(0,0,0);
}